{% extends "layout.html" %}
{% block script %}
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>
    <script id="card-template" type="text/x-handlebars-template">
        {% raw %}
        <div class="row mb-3">
            <div class="user-img">
                <a href="#"><img src="static/image/person-square.svg" data-toggle="tooltip" data-placement="bottom" title="{{ name }}"/></a>
            </div>
            <div class="border col">
                <p class="timestamp"><b> {{ name }}</b> &nbsp; <i>{{ timestamp }}</i></p>
                <p>{{ message }}</p>
                <a style="{{ style }}" href="{{ attach_src }}" download>
                    <span data-feather='download'></span>{{ attach_name }}
                </a>
            </div>
        </div>
        {% endraw %}
    </script>
    <script id="channel-template" type="text/x-handlebars-template">
        {% raw %}
        <li class="nav-item">
            <a href="" class="nav-link" data-channel="{{ channel }}" onclick="switchChannel('{{ channel }}')">
                <span data-feather="message-circle"></span>{{ channel }}
            </a>
        </li>
        {% endraw %}
    </script>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
{% endblock %}
{% block body %}
    <nav class="navbar navbar-dark bg-dark sticky-top flex-md-nowrap p-0">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Flack</a>
        <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="nav-link" href="#">Sign out</a>
            </li>
        </ul>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <!-- Sidebar -->
            <nav class="col-md-2 d-none d-md-block bg-light sidebar mt-5">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <div id="channels">
                            {% for channel in channels %}
                            <li class="nav-item">
                                <a href="" class="nav-link" data-channel="{{ channel }}" onclick="switchChannel('{{ channel }}')">
                                    <span data-feather="message-circle"></span>{{ channel }}
                                </a>
                            </li>
                            {% endfor %}
                        </div>
                        <li id="add_channel" class="nav-item">
                            <a href="" class="nav-link">
                                <span data-feather="plus"></span>Create channel
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            <!-- Main content -->
            <div role="main" data-spy="scroll" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
                    <h4 id="current_channel"></h4>
                </div>
                <div id="page" class="mb-5"></div>
                <div id="files" class="mb-1"></div>
                <div id="submit-form" class="input-group mb-3">
                    <input id="message" type="text" class="form-control" placeholder="message" />
                    <input type="file" id="file-upload" style="display:none" onchange="updateFiles()" />
                    <div class="input-group-append">
                        <button class="btn btn-info" onclick="upload()"><span data-feather="file-plus"/></button>
                    </div>
                    <div class="input-group-append">
                        <button id="submit" class="btn btn-secondary" type="button">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
    </script>
    <!-- icons -->
    <script src="https://unpkg.com/feather-icons/dist/feather.min.js"></script>
    <script>
        feather.replace()
    </script>
{% endblock %}
