<!DOCTYPE html>
<html>
    <head>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <!-- Our Custom CSS -->
        <link rel="stylesheet" href="static/styles/styles.css">

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Script -->
        {% block script %}{% endblock %}

        <title>Flack</title>
        <link rel="icon" href="/static/image/rhino.png">

    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
